@model IEnumerable<PepoBebes.Models.Agenda>
@{
    Layout = null;
}

<table>
    <thead>
        <tr>
            <th>
                fecha
            </th>
            <th>
                bebe
            </th>
            <th>
                notas
            </th>
            <th>
                Status
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.bebe.madre.dni)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.notas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status.description)
                </td>

            </tr>
        }
    </tbody>
</table>
