@model IEnumerable<PepoBebes.Models.Bebe>
@{
    ViewBag.Title = "Bebes";
    Layout = "~/Views/Shared/_ABMLayout.cshtml";
}

<h2>Bebes</h2>

@using (Html.BeginForm("Index", "Bebes", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <input type="submit" value="OK" />
}
<table id="myDataTableBebes">
    <thead>
        <tr>
            <th>
                Editar
            </th>
            <th>
                dni
            </th>
            <th>
                nombre
            </th>
            <th>
                fechaNacimiento
            </th>
            <th>
                sexo
            </th>
            <th>
                edadGestacional
            </th>
            <th>
                peso
            </th>
            <th>
                mamaCanguro
            </th>
            <th>
                hc
            </th>
            <th>
                riesgo
            </th>
            
            <th>
                madre
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>



<script type="text/javascript">
    $(document).ready(function () {
        var oTable = $('#myDataTableBebes').dataTable({
            "bInfo": false,
            "bLengthChange": false,
            "bFilter": true,
            "bSort": false,
            "sPaginationType": "full_numbers",
            "bServerSide": true,
            "sAjaxSource": "/Bebes/AjaxHandler",
            "bProcessing": true,
            "oLanguage": {
                        "sProcessing":   "Procesando...",
                        "sLengthMenu":   "Mostrar _MENU_ registros",
                        "sZeroRecords":  "<a data-ajax=\"true\" data-ajax-loading=\"#cargando\" data-ajax-mode=\"replace\" data-ajax-update=\"#contenido\" href=\"/Bebes/Create\">Crear Madre</a>",
                        "sInfo":         "Mostrando desde _START_ hasta _END_ de _TOTAL_ registros",
                        "sInfoEmpty":    "Mostrando desde 0 hasta 0 de 0 registros",
                        "sInfoFiltered": "(filtrado de _MAX_ registros en total)",
                        "sInfoPostFix":  "",
                        "sSearch":       "Buscar DNI:",
                        "sUrl":          "",
                        "oPaginate": {
                                        "sFirst":    "Primero",
                                        "sPrevious": "Anterior",
                                        "sNext":     "Siguiente",
                                        "sLast":     "Último"
                                    }
                        },
            "aoColumns": [
                        { "sName": "ver",
                            "bSearchable": false,
                            "bSortable": false,
                            "fnRender": function (oObj) {
                                return '<a data-ajax="true" data-ajax-loading="#cargando" data-ajax-mode="replace" data-ajax-update="#contenido" href="/Bebes/Edit/' + oObj.aData[0] + '">Editar-></a>';
                            }
                        },
                        { "sName": "dni" },
                        { "sName": "nombre" },
                        { "sName": "fechaNacimiento" },    
                        { "sName": "sexo" },
			            { "sName": "edadGestacional" },
			            { "sName": "peso" },                        
                        { "sName": "mamaCanguro" },
                        { "sName": "hc" },
                        { "sName": "riesgo" },
                        { "sName": "madre" }
		            ],
        });
    });
</script>
