@{
    ViewBag.Title = "Inicio";
    Layout = null;
}

total eventos nuevos: @ViewBag.Message

@*<form action='https://sisa.msal.gov.ar/sisa/services/establecimientoService'
method="GET" target="_blank">
<table>
  <tr>
    <td>Codigo de Establecimiento:</td>
    <td>
    <input class="frmInput" type="text" size="30" name="Codigo">
    </td>
  </tr>
  <tr>
    <td></td>
    <td align="right">
     <input type="submit" value="Submit" class="button">
     </td>
  </tr>
</table>
</form>*@
