@model PepoBebes.Models.HistorialAgenda
<tr id='@Model.historialAgendaID'>
    <td>
        @Html.DisplayFor(modelItem => modelItem.fecha)
    </td>
    <td>
        @Html.DisplayFor(modelItem => modelItem.descripcion)
    </td>
</tr>
