@model IEnumerable<PepoBebes.Models.Madre>
@{
    ViewBag.Title = "Madres";
    Layout = "~/Views/Shared/_ABMLayout.cshtml";
}
<h2>Madres</h2>

<p>
    @Html.ActionLink("Crear Madre", "Create")
</p>
<table id="myDataTable">
    <thead>
        <tr>
            <th>
                Editar
            </th>
            <th>
               Agregar
            </th>
            <th>
                dni
            </th>
            <th>
                apellido
            </th>
            <th>
                nombre
            </th>
            <th>
                fechaNacimiento
            </th>
            <th>
                edad
            </th>
            <th>
                domicilio
            </th>
            <th>
                localidad
            </th>
            <th>
                departamento
            </th>
            <th>
                telefono
            </th>
            <th>
                email
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        var oTable = $('#myDataTable').dataTable({
            "bInfo": false,
            "bLengthChange": false,
            "bFilter": true,
            "bSort": false,
            "sPaginationType": "full_numbers",
            "bServerSide": true,
            "sAjaxSource": "/PepoBebes/Madres/AjaxHandler",
            "bProcessing": true,            
            "sDom": 'T<"clear">lfrtip',
            "oTableTools": {
                        "sSwfPath": "/PepoBebes/Content/DataTables-1.9.0/extras/TableTools/media/swf/copy_cvs_xls_pdf.swf",
			            "aButtons": [
				            {
					            "sExtends": "copy",
					            "sButtonText": "Copiar"
				            },
				            
				            {
					            "sExtends": "xls",
					            "sButtonText": "Guardar Excel"
				            },
                            {
					            "sExtends": "pdf",
					            "sButtonText": "Pdf"
				            }
			                ]
		                },
            "oLanguage": {
                        "sProcessing":   "Procesando...",
                        "sLengthMenu":   "Mostrar _MENU_ registros",
                        "sZeroRecords":  "<a data-ajax=\"true\" data-ajax-loading=\"#cargando\" data-ajax-mode=\"replace\" data-ajax-update=\"#contenido\" href=\"/PepoBebes/Madres/Create\">Crear Madre</a>",
                        "sInfo":         "Mostrando desde _START_ hasta _END_ de _TOTAL_ registros",
                        "sInfoEmpty":    "Mostrando desde 0 hasta 0 de 0 registros",
                        "sInfoFiltered": "(filtrado de _MAX_ registros en total)",
                        "sInfoPostFix":  "",
                        "sSearch":       "Buscar DNI:",
                        "sUrl":          "",
                        "oPaginate": {
                                        "sFirst":    "Primero",
                                        "sPrevious": "Anterior",
                                        "sNext":     "Siguiente",
                                        "sLast":     "Último"
                                    }
                        },
            "aoColumns": [
                        { "sName": "ver",
                            "bSearchable": false,
                            "bSortable": false,
                            "fnRender": function (oObj) {
                                return '<a data-ajax="true" data-ajax-loading="#cargando" data-ajax-mode="replace" data-ajax-update="#contenido" href="/PepoBebes/Madres/Edit/' + oObj.aData[0] + '">Editar</a>';
                            }
                        },
                        { "sName": "Agregar",                        
                            "fnRender": function (oObj) {
                                return '<a data-ajax="true" data-ajax-loading="#cargando" data-ajax-mode="replace" data-ajax-update="#contenido" href="/PepoBebes/Bebes/Create/' + oObj.aData[1] + '">Agregar Bebe</a>';
                            }
                        },
                        { "sName": "dni" },
			            { "sName": "apellido" },
                        { "sName": "nombre" },
			            { "sName": "fechaNacimiento" },
			            { "sName": "edad" },
                        { "sName": "domicilio" },
                        { "sName": "localidad" },
                        { "sName": "departamento" },
                        { "sName": "telefono" },
                        { "sName": "e-mail" }
		            ],
        });
    });
</script>
